.label{
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-pref-height: 20px;
    -fx-pref-width: 100px;
    -fx-alignment: Center;
    -fx-font-weight: bold;
    -fx-text-fill: White;
}

#hBox{
    -fx-min-height: 70px;
    -fx-border-color: linear-gradient(to right, #74ebd5, #acb6e5);
    -fx-alignment: Center;
    -fx-background-color: linear-gradient(to right, #141e30, #243b55);
}